.container.svelte-oir88r{position:relative;width:100%;height:100%}.pane.svelte-oir88r{position:relative;float:left;width:100%;height:100%;overflow:auto}.mousecatcher.svelte-oir88r{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(255, 255, 255, 0.01)}.divider.svelte-oir88r{position:absolute;z-index:10;display:none}.divider.svelte-oir88r::after{content:"";position:absolute;background-color:#eee}.horizontal.svelte-oir88r{padding:0 8px;width:0;height:100%;cursor:ew-resize}.horizontal.svelte-oir88r::after{left:8px;top:0;width:1px;height:100%}.vertical.svelte-oir88r{padding:8px 0;width:100%;height:0;cursor:ns-resize}.vertical.svelte-oir88r::after{top:8px;left:0;width:100%;height:1px}.left.svelte-oir88r,.right.svelte-oir88r,.divider.svelte-oir88r{display:block}.left.svelte-oir88r,.right.svelte-oir88r{height:100%;float:left}.top.svelte-oir88r,.bottom.svelte-oir88r{position:absolute;width:100%}.top.svelte-oir88r{top:0}.bottom.svelte-oir88r{bottom:0}
.component-selector.svelte-1np0xcs.svelte-1np0xcs{position:relative;overflow:hidden}.file-tabs.svelte-1np0xcs.svelte-1np0xcs{border:none;margin:0;white-space:nowrap;overflow-x:auto;overflow-y:hidden;padding:10px 15px}.file-tabs.svelte-1np0xcs .button.svelte-1np0xcs,.file-tabs.svelte-1np0xcs button.svelte-1np0xcs{position:relative;display:inline-block;font:400 12px/1.5 var(--font);font-size:1.5rem;border:none;padding:12px 34px 8px 8px;margin:0;border-radius:0}.file-tabs.svelte-1np0xcs .button.svelte-1np0xcs:first-child{padding-left:12px}.file-tabs.svelte-1np0xcs .button.active.svelte-1np0xcs{font-size:1.6rem;font-weight:bold}.editable.svelte-1np0xcs.svelte-1np0xcs,.uneditable.svelte-1np0xcs.svelte-1np0xcs,.input-sizer.svelte-1np0xcs.svelte-1np0xcs,input.svelte-1np0xcs.svelte-1np0xcs{display:inline-block;position:relative;line-height:1}.input-sizer.svelte-1np0xcs.svelte-1np0xcs{color:#ccc}input.svelte-1np0xcs.svelte-1np0xcs{position:absolute;width:100%;left:8px;top:12px;font:400 12px/1.5 var(--font);border:none;color:var(--flash);outline:none;background-color:transparent}.remove.svelte-1np0xcs.svelte-1np0xcs{position:absolute;display:none;right:1px;top:4px;width:16px;text-align:right;padding:12px 0 12px 5px;font-size:8px;cursor:pointer}.remove.svelte-1np0xcs.svelte-1np0xcs:hover{color:var(--flash)}.file-tabs.svelte-1np0xcs .button.active .editable.svelte-1np0xcs{cursor:text}.file-tabs.svelte-1np0xcs .button.active .remove.svelte-1np0xcs{display:block}.add-new.svelte-1np0xcs.svelte-1np0xcs{position:absolute;left:0;top:0;padding:12px 10px 8px 0 !important;height:40px;text-align:center}.add-new.svelte-1np0xcs.svelte-1np0xcs:hover{color:var(--flash) !important}svg.svelte-1np0xcs.svelte-1np0xcs{position:relative;overflow:hidden;vertical-align:middle;-o-object-fit:contain;object-fit:contain;-webkit-transform-origin:center center;transform-origin:center center;stroke:currentColor;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;fill:none;transform:translate(-12px, 3px)}.file-tabs.funky.svelte-1np0xcs.svelte-1np0xcs{display:flex;justify-content:center;background:#fafafa}.file-tabs.svelte-1np0xcs .button.funky.svelte-1np0xcs,.file-tabs.svelte-1np0xcs .button.funky.active.svelte-1np0xcs{border-left:1px solid #ddd;border-bottom:none;background:transparent}.button.funky.svelte-1np0xcs.svelte-1np0xcs:last-child{border-left:1px solid #ddd;border-right:1px solid #ddd}
.message.svelte-9488n4{position:relative;color:white;padding:12px 16px 12px 44px;font:400 12px/1.7 var(--font);margin:0;border-top:1px solid white}.navigable.svelte-9488n4{cursor:pointer}.message.svelte-9488n4::before{content:'!';position:absolute;left:12px;top:10px;text-align:center;line-height:1;padding:4px;border-radius:50%;color:white;border:2px solid white;box-sizing:content-box;width:10px;height:10px;font-size:11px;font-weight:700}.truncate.svelte-9488n4{white-space:pre;overflow-x:hidden;text-overflow:ellipsis}p.svelte-9488n4{margin:0}.error.svelte-9488n4{background-color:#da106e}.warning.svelte-9488n4{background-color:#e47e0a}.info.svelte-9488n4{background-color:var(--second)}
/* BASICS */

.CodeMirror {
	/* copied colors over from prism */
	--background: var(--back-light);
	--base: hsl(45, 7%, 45%);
	--comment: hsl(210, 25%, 60%);
	--keyword: hsl(204, 58%, 45%);
	--function: hsl(19, 67%, 45%);
	--string: hsl(41, 37%, 45%);
	--number: hsl(102, 27%, 50%);
	--tags: var(--function);
	--important: var(--string);

	/* Set height, width, borders, and global font properties here */
	/* see prism.css */
	height: 300px;
	direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
	padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
	padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
	background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
	border-right: 1px solid #ddd;
	background-color: var(--back-light);
	white-space: nowrap;
}
.CodeMirror-linenumber {
	padding: 0 3px 0 5px;
	min-width: 20px;
	text-align: right;
	color: var(--comment);
	white-space: nowrap;
	opacity: 0.6;
}

.CodeMirror-guttermarker {
	color: black;
}
.CodeMirror-guttermarker-subtle {
	color: #999;
}

/* CURSOR */

.CodeMirror-cursor {
	border-left: 1px solid black;
	border-right: none;
	width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
	border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
	width: auto;
	border: 0 !important;
	background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
	z-index: 1;
}
.cm-fat-cursor-mark {
	background-color: rgba(20, 255, 20, 0.5);
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
	width: auto;
	border: 0;
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite;
	background-color: #7e7;
}
@-moz-keyframes blink {
	0% {
	}
	50% {
		background-color: transparent;
	}
	100% {
	}
}
@-webkit-keyframes blink {
	0% {
	}
	50% {
		background-color: transparent;
	}
	100% {
	}
}
@keyframes blink {
	0% {
	}
	50% {
		background-color: transparent;
	}
	100% {
	}
}

.cm-tab {
	display: inline-block;
	text-decoration: inherit;
}

.CodeMirror-rulers {
	position: absolute;
	left: 0;
	right: 0;
	top: -50px;
	bottom: -20px;
	overflow: hidden;
}
.CodeMirror-ruler {
	border-left: 1px solid #ccc;
	top: 0;
	bottom: 0;
	position: absolute;
}

/* DEFAULT THEME */
.cm-s-default .cm-header {
	color: blue;
}
.cm-s-default .cm-quote {
	color: #090;
}
.cm-negative {
	color: #d44;
}
.cm-positive {
	color: #292;
}
.cm-header,
.cm-strong {
	font-weight: bold;
}
.cm-em {
	font-style: italic;
}
.cm-link {
	text-decoration: underline;
}
.cm-strikethrough {
	text-decoration: line-through;
}

.cm-s-default .cm-atom,
.cm-s-default .cm-def,
.cm-s-default .cm-property,
.cm-s-default .cm-variable-2,
.cm-s-default .cm-variable-3,
.cm-s-default .cm-punctuation {
	color: var(--base);
}
.cm-s-default .cm-hr,
.cm-s-default .cm-comment {
	color: var(--comment);
}
.cm-s-default .cm-attribute,
.cm-s-default .cm-keyword {
	color: var(--keyword);
}
.cm-s-default .cm-variable,
.cm-s-default .cm-bracket,
.cm-s-default .cm-tag {
	color: var(--tags);
}
.cm-s-default .cm-number {
	color: var(--number);
}
.cm-s-default .cm-string {
	color: var(--string);
}

.cm-s-default .cm-string-2 {
	color: #f50;
}
.cm-s-default .cm-type {
	color: #085;
}
.cm-s-default .cm-meta {
	color: #555;
}
.cm-s-default .cm-qualifier {
	color: #555;
}
.cm-s-default .cm-builtin {
	color: #30a;
}
.cm-s-default .cm-link {
	color: var(--flash);
}
.cm-s-default .cm-error {
	color: #ff008c;
}
.cm-invalidchar {
	color: #ff008c;
}

.CodeMirror-composing {
	border-bottom: 2px solid;
}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
	color: #0b0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #a22;
}
.CodeMirror-matchingtag {
	background: rgba(255, 150, 0, 0.3);
}
.CodeMirror-activeline-background {
	background: #e8f2ff;
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
	position: relative;
	overflow: hidden;
	background: white;
}

.CodeMirror-scroll {
	overflow: scroll !important; /* Things will break if this is overridden */
	/* 30px is the magic margin used to hide the element's real scrollbars */
	/* See overflow: hidden in .CodeMirror */
	margin-bottom: -24px;
	margin-right: -24px;
	padding-bottom: 0;
	height: 100%;
	outline: none; /* Prevent dragging from highlighting the element */
	position: relative;
}
.CodeMirror-sizer {
	position: relative;
	border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
	position: absolute;
	z-index: 6;
	display: none;
}
.CodeMirror-vscrollbar {
	right: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.CodeMirror-hscrollbar {
	bottom: 0;
	left: 0;
	overflow-y: hidden;
	overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
	right: 0;
	bottom: 0;
}
.CodeMirror-gutter-filler {
	left: 0;
	bottom: 0;
}

.CodeMirror-gutters {
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	z-index: 3;
}
.CodeMirror-gutter {
	white-space: normal;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
	position: absolute;
	z-index: 4;
	background: none !important;
	border: none !important;
}
.CodeMirror-gutter-background {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 4;
}
.CodeMirror-gutter-elt {
	position: absolute;
	cursor: default;
	z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection {
	background-color: transparent;
}
.CodeMirror-gutter-wrapper ::-moz-selection {
	background-color: transparent;
}

.CodeMirror-lines {
	cursor: text;
	min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
	/* Reset some styles that the rest of the page might have set */
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-variant-ligatures: contextual;
	font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal;
}

.CodeMirror-linebackground {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.CodeMirror-linewidget {
	position: relative;
	z-index: 2;
	padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-rtl pre {
	direction: rtl;
}

.CodeMirror-code {
	outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.CodeMirror-measure {
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.CodeMirror-cursor {
	position: absolute;
	pointer-events: none;
}
.CodeMirror-measure pre {
	position: static;
}

div.CodeMirror-cursors {
	visibility: hidden;
	position: relative;
	z-index: 3;
}
div.CodeMirror-dragcursors {
	visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
	visibility: visible;
}

.CodeMirror-selected {
	background: #d9d9d9;
}
.CodeMirror-focused .CodeMirror-selected {
	background: #d7d4f0;
}
.CodeMirror-crosshair {
	cursor: crosshair;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
	background: #d7d4f0;
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
	background: #d7d4f0;
}

.cm-searching {
	background-color: #ffa;
	background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
	padding-right: 0.1px;
}

@media print {
	/* Hide the cursor when printing */
	.CodeMirror div.CodeMirror-cursors {
		visibility: hidden;
	}
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
	content: "";
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
	background: none;
}

.codemirror-container.svelte-1uv9syl.svelte-1uv9syl{position:relative;width:100%;height:100%;border:none;line-height:1.5;overflow:hidden}.codemirror-container.svelte-1uv9syl .CodeMirror{height:100%;background:transparent;font:400 14px/1.7 var(--font-mono);padding:24px}.codemirror-container.flex.svelte-1uv9syl .CodeMirror{height:auto}.codemirror-container.flex.svelte-1uv9syl .CodeMirror-lines{padding:0}.codemirror-container.svelte-1uv9syl .CodeMirror-gutters{padding:0 16px 0 8px;border:none}.codemirror-container.svelte-1uv9syl .error-loc{position:relative;border-bottom:2px solid #da106e}.codemirror-container.svelte-1uv9syl .error-line{background-color:rgba(200, 0, 0, 0.05)}textarea.svelte-1uv9syl.svelte-1uv9syl{visibility:hidden}pre.svelte-1uv9syl.svelte-1uv9syl{position:absolute;width:100%;height:100%;top:0;left:0;border:none;padding:4px 4px 4px 60px;resize:none;font-family:var(--font-mono);font-size:13px;line-height:1.7;user-select:none;pointer-events:none;color:#ccc;tab-size:2;-moz-tab-size:2}.flex.svelte-1uv9syl pre.svelte-1uv9syl{padding:0 0 0 4px;height:auto}
.editor-wrapper.svelte-1x3die8{z-index:5;display:flex;flex-direction:column}.editor.svelte-1x3die8{height:0;flex:1 1 auto}.info.svelte-1x3die8{background-color:var(--second);max-height:50%;overflow:auto}.columns .editor-wrapper.svelte-1x3die8{padding-right:8px;height:auto}
.panel-header.svelte-r8k1fq{display:flex;justify-content:space-between;align-items:center;padding:0 0.5em;cursor:pointer}.panel-body.svelte-r8k1fq{overflow:auto}h3.svelte-r8k1fq{font:700 12px/1.5 var(--font);color:#333}
.container.svelte-1vyml86{display:inline-block;cursor:pointer;transform:translate(calc(0px - var(--li-identation)), -50%);position:absolute;top:50%;padding-right:100%}.arrow.svelte-1vyml86{transform-origin:25% 50%;position:relative;line-height:1.1em;font-size:0.75em;margin-left:0;transition:150ms;color:var(--arrow-sign);user-select:none;font-family:'Courier New', Courier, monospace}.expanded.svelte-1vyml86{transform:rotateZ(90deg) translateX(-3px)}
label.svelte-1vlbacg{display:inline-block;color:var(--label-color);padding:0}.spaced.svelte-1vlbacg{padding-right:var(--li-colon-space)}
.indent.svelte-9z1xpv{padding-left:var(--li-identation)}.collapse.svelte-9z1xpv{--li-display:inline;display:inline;font-style:italic}.comma.svelte-9z1xpv{margin-left:-0.5em;margin-right:0.5em}label.svelte-9z1xpv{position:relative}
li.svelte-3bjyvl{user-select:text;word-wrap:break-word;word-break:break-all}.indent.svelte-3bjyvl{padding-left:var(--li-identation)}.String.svelte-3bjyvl{color:var(--string-color)}.Date.svelte-3bjyvl{color:var(--date-color)}.Number.svelte-3bjyvl{color:var(--number-color)}.Boolean.svelte-3bjyvl{color:var(--boolean-color)}.Null.svelte-3bjyvl{color:var(--null-color)}.Undefined.svelte-3bjyvl{color:var(--undefined-color)}.Function.svelte-3bjyvl{color:var(--function-color);font-style:italic}.Symbol.svelte-3bjyvl{color:var(--symbol-color)}
li.svelte-1ca3gb2{user-select:text;word-wrap:break-word;word-break:break-all}.indent.svelte-1ca3gb2{padding-left:var(--li-identation)}.collapse.svelte-1ca3gb2{--li-display:inline;display:inline;font-style:italic}
ul.svelte-773n60{--string-color:var(--json-tree-string-color, #cb3f41);--symbol-color:var(--json-tree-symbol-color, #cb3f41);--boolean-color:var(--json-tree-boolean-color, #112aa7);--function-color:var(--json-tree-function-color, #112aa7);--number-color:var(--json-tree-number-color, #3029cf);--label-color:var(--json-tree-label-color, #871d8f);--arrow-color:var(--json-tree-arrow-color, #727272);--null-color:var(--json-tree-null-color, #8d8d8d);--undefined-color:var(--json-tree-undefined-color, #8d8d8d);--date-color:var(--json-tree-date-color, #8d8d8d);--li-identation:var(--json-tree-li-indentation, 1em);--li-line-height:var(--json-tree-li-line-height, 1.3);--li-colon-space:0.3em;font-size:var(--json-tree-font-size, 12px);font-family:var(--json-tree-font-family, 'Courier New', Courier, monospace)}ul.svelte-773n60 li{line-height:var(--li-line-height);display:var(--li-display, list-item);list-style:none}ul.svelte-773n60,ul.svelte-773n60 ul{padding:0;margin:0}
.log.svelte-wfxu7a{border-bottom:1px solid #eee;padding:5px 10px;display:flex}.log.svelte-wfxu7a>*{margin-right:10px;font-family:var(--font-mono)}.console-warn.svelte-wfxu7a{background:#fffbe6;border-color:#fff4c4}.console-error.svelte-wfxu7a{background:#fff0f0;border-color:#fed6d7}.count.svelte-wfxu7a{color:#999;font-size:12px;line-height:1.2}.info.svelte-wfxu7a{color:#666;font-family:var(--font) !important;font-size:12px}.error.svelte-wfxu7a{color:#da106e}
.iframe-container.svelte-1n49w9s{position:absolute;border:none;width:100%;height:100%}iframe.svelte-1n49w9s{width:100%;height:100%;height:calc(100vh);border:none;display:block;opacity:0}.inited.svelte-1n49w9s{opacity:1;height:100%}.greyed-out.svelte-1n49w9s{filter:grayscale(50%) blur(1px);opacity:0.25}.overlay.svelte-1n49w9s{position:absolute;bottom:0;width:100%}
.options.svelte-n6kmyk.svelte-n6kmyk{padding:0 10px;font-family:var(--font-mono);font-size:13px;color:#999;line-height:1.8}.option.svelte-n6kmyk.svelte-n6kmyk{display:block;padding:0 0 0 1.25em;white-space:nowrap;color:#333;user-select:none}.key.svelte-n6kmyk.svelte-n6kmyk{display:inline-block;width:9em}.string.svelte-n6kmyk.svelte-n6kmyk{color:hsl(41, 37%, 45%)}.boolean.svelte-n6kmyk.svelte-n6kmyk{color:hsl(45, 7%, 45%)}label.svelte-n6kmyk.svelte-n6kmyk{display:inline-block}label[for].svelte-n6kmyk.svelte-n6kmyk{color:var(--string)}input[type="checkbox"].svelte-n6kmyk.svelte-n6kmyk{top:-1px}input[type="radio"].svelte-n6kmyk.svelte-n6kmyk{position:absolute;top:auto;overflow:hidden;clip:rect(1px, 1px, 1px, 1px);width:1px;height:1px;white-space:nowrap}input[type="radio"].svelte-n6kmyk+label.svelte-n6kmyk{padding:0 0 0 1.6em;margin:0 0.6em 0 0;opacity:0.7}input[type="radio"].svelte-n6kmyk:checked+label.svelte-n6kmyk{opacity:1}input[type="radio"].svelte-n6kmyk+label.svelte-n6kmyk:before{content:"";background:#eee;display:block;box-sizing:border-box;float:left;width:15px;height:15px;margin-left:-21px;margin-top:4px;vertical-align:top;cursor:pointer;text-align:center;transition:box-shadow 0.1s ease-out}input[type="radio"].svelte-n6kmyk+label.svelte-n6kmyk:before{background-color:var(--second);border-radius:100%;box-shadow:inset 0 0 0 0.5em rgba(255, 255, 255, 0.95);border:1px solid var(--second)}input[type="radio"].svelte-n6kmyk:checked+label.svelte-n6kmyk:before{background-color:var(--prime);box-shadow:inset 0 0 0 0.15em rgba(255, 255, 255, 0.95);border:1px solid var(--second);transition:box-shadow 0.2s ease-out}
.tab-content.svelte-1vwhaj2{position:absolute;width:100%;height:100% !important;opacity:0;pointer-events:none}.tab-content.visible.svelte-1vwhaj2{opacity:1;pointer-events:all}
.container.svelte-u25bem.svelte-u25bem{position:relative;width:100%;height:100%}.container.svelte-u25bem section{position:relative;padding:63px 0 0 0;height:100%;box-sizing:border-box}.container.svelte-u25bem section>*:first-child{position:absolute;top:0;left:0;width:100%;height:63px;box-sizing:border-box;border-bottom:1px solid #eee}.container.svelte-u25bem section>*:last-child{width:100%;height:100%}.funky.svelte-u25bem.svelte-u25bem{border-radius:3px;box-shadow:0 0 0 3px rgba(0, 0, 0, 0.02);overflow:hidden;border:1px solid #ddd}.container.svelte-u25bem section.svelte-u25bem{position:absolute;top:0;height:100%;width:100%;overflow:hidden}
.outer.svelte-144m3u.svelte-144m3u{position:absolute;top:80px;left:50px;right:50px;bottom:50px;margin:auto;border-radius:5px;overflow:hidden;box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.2)}.inner.svelte-144m3u.svelte-144m3u{height:100%;width:100%}.mobile.svelte-144m3u .inner.svelte-144m3u{width:200%;height:calc(100% - 42px);transition:transform 0.3s}.mobile.svelte-144m3u .offset.svelte-144m3u{transform:translate(-50%, 0)}.toggle-wrap.svelte-144m3u.svelte-144m3u{display:flex;position:absolute;user-select:none;justify-content:center;align-items:center;width:100%;height:42px;border-top:1px solid var(--second);overflow:hidden}.toggle.svelte-144m3u label.svelte-144m3u{margin:0 0.5em 0;cursor:pointer;user-select:none}.toggle.svelte-144m3u input[type="radio"].svelte-144m3u{display:inline-block;margin-right:0px;width:50%;height:0%;opacity:0;position:relative;z-index:1;cursor:pointer;user-select:none}.toggle-wrapper.svelte-144m3u.svelte-144m3u{display:inline-block;vertical-align:middle;width:40px;height:20px;border-radius:3.5em;position:relative;user-select:none}.toggle-switcher.svelte-144m3u.svelte-144m3u{display:block;position:absolute;top:2px;left:2px;right:100%;width:calc(50% - 4px);height:calc(100% - 4px);border-radius:50%;background-color:#fff;transition:all 0.1s ease-out;z-index:2;cursor:pointer;user-select:none}.toggle-background.svelte-144m3u.svelte-144m3u{display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;border-radius:3.5em;background-color:cadetblue;transition:all 0.1s ease-out;cursor:pointer;user-select:none}#output.svelte-144m3u:checked~.toggle-switcher.svelte-144m3u{right:0;left:calc(50% + 2px)}#input.svelte-144m3u:checked~.toggle-background.svelte-144m3u{background-color:#333}@media(max-width: 750px){.outer.svelte-144m3u.svelte-144m3u{position:absolute;top:80px;left:20px;right:20px;bottom:20px;margin:auto;border-radius:5px;overflow:hidden;box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.2)}}
