name: mdsvex

on:
  push:
    paths-ignore:
      - 'site/**'
  pull_request:
    paths-ignore:
      - 'site/**'

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - uses: actions/cache@v2
        id: pnpm-store
        with:
          path: ~/.pnpm-store/v3
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - uses: pnpm/action-setup@v1.2.0
        with:
          version: 5
      - run: pnpm i --frozen-lockfile
      - run: pnpm lint
        env:
          CI: true
          name: mdsvex

  build-test:
    name: test-build - node ${{ matrix.node-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [10, 12]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
      - name: Get windows pnpm cache path
        if: runner.os == 'windows'
        run: echo "::set-env name=cache_path::D:\.pnpm-store\v3"
      - name: Get non-windows pnpm cache path
        if: runner.os != 'windows'
        run: echo "::set-env name=cache_path::~/.pnpm-store/v3"
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v1.2.0
        with:
          version: 5
      - uses: actions/cache@v2
        id: pnpm-store
        with:
          path: ${{ env.cache_path }}
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - run: pnpm i --frozen-lockfile
      - run: pnpm test
      - run: pnpm build --filter mdsvex
        env:
          CI: true
          name: mdsvex
